@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap");

html {
  font-family: sans-serif, "Montserrat";
}

body {
  margin: 0;
}

.scroll-container {
  overflow-x: hidden;
  overflow-y: auto;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  display: none;
}